iframe{
    max-width: 450px;
    max-height: 450px;
    margin-left: 140px;
    margin-top: 50px;
}

.contato{
    display: flex;
}

.p-contato{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 32px;
    gap: 15.8px;
}

@media screen and (max-width: 414px) {
    .titulo-faq-contato{
        font-size: 48px;
    }
    .contato{
        display: block;
    }

    iframe{
        max-width: 220px;
        max-height: 220px;
        margin-left: 85px;
        margin-top: 50px;
    }
}

