iframe{
    width: 450px;
    height: 450px;
    margin-left: 140px;
    margin-top: 50px;
}

.contato{
    display: flex;
}

.p-contato{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 32px;
    gap: 15.8px;
}

@media screen and (max-width: 992px) {
    .titulo-faq-contato{
        font-size: 60px;
    }
}