footer{
    display: flex;
    max-width: 1200px;
    padding: 21px 879px 20px 20px;
    align-items: flex-start;
    background-color: var(--background-green);
    margin: 95px 0px 30px auto;
    overflow-x: hidden;
}

.p-footer{
    color: var(--color-white);
    font-family: var(--font-primary);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (max-width: 1200px) {
    footer{
        max-width: 768px;
        overflow-x: hidden;
        display: flex;
        flex-wrap: wrap;
        padding: 21px 0px 20px 20px;
    }
}