h1{
    color: var(--color-title);
    font-family: var(--font-display);
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    padding-left: 140px;
}

.imagem{
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 35px;
    overflow-x: hidden;
    width: 260px;
    height: 600px;
}

.imagem::-webkit-scrollbar{
    width: 12px;
}

.imagem::-webkit-scrollbar-thumb{
    background-color: var(--background-green);
    border-radius: 5px;
}

img{
    width: 900px;
    height: 600px;
}

.principal{
    display: flex;
}

.texto{
    display: flex;
    flex-direction: column;
    width: 852px;
    max-width: 900px;
    padding: 0px 33px 0.19px 0px;
    align-items: flex-start;
    gap: 15px;
}

.titulo-seção{
    display: flex;
    color: var(--color-brown);
    font-family: var(--font-display);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

p{
    color: var(--color-text);
    font-family: var(--font-primary);
    font-size: 17.6px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px; 
    gap: 15px;
}

.icone{
    width: 24px;
    height: 24px;    
    color: var(--color-brown);
    padding-right: 35px;
}

section{
    display: flex;
    width: 852px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.titulo-seção2{
    display: flex;
    padding: 0px 15px 0px 0px;
}

.margem{
    margin-top: 50px;
}

.js-conteudo {
    display: none;
}

.js-menu section.active{
    display:block;
}